body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    
    color: #111;
    /*background-color: green;*/
}

* {
    box-sizing: border-box;
}

.page {
    /*background-color: pink;*/
    padding: 3rem;
    padding-bottom: 5rem;
}


/* For Chromatic Aberration on Text Across the App */
:root {
    --glitch-red: #ff4757;
    --glitch-cyan: #00d9ff;
}

.glitch-text {
    animation: text-glitch 6s ease-in-out infinite;
}

@keyframes text-glitch {
    0%,
    92%,
    100% {
        transform: translateX(0);
        text-shadow: none;
    }
    93% {
        transform: translateX(-2px);
        text-shadow:
            4px 0 var(--glitch-cyan),
            -4px 0 var(--glitch-red);
    }
    94% {
        transform: translateX(2px);
        text-shadow:
            -2px 0 var(--glitch-cyan),
            2px 0 var(--glitch-red);
    }
    95% {
        transform: translateX(-1px);
        text-shadow:
            1px 0 var(--glitch-cyan),
            -1px 0 var(--glitch-red);
    }
    96% {
        transform: translateX(1px);
        text-shadow: none;
    }
}

/* Text Scramble */
.dud {
  color: #7930ff;
  opacity: 0.5;
}

@media (prefers-reduced-motion: reduce) { /* TODO */

    .glitch-text {
        animation: none;
    }

}